* {
    background-color: aliceblue;
}

h1 {
    font-size: 48px;
    margin-top: 20px;
    text-align: center;
    color: blue;
    background-color: aqua;
}

p, h2 {
    font-family: Arial; 
}

#StartingText {
    font-size: 36px;
    margin-top: 40px;
    text-align: center;
    background-color: aqua;
}

#red {
    font-size: 24px;
    color: red;
    background-color: brown;
}

#yellow {
    font-size: 24px;
    color: yellow;
    background-color: yellowgreen;
}

#green {
    font-size: 24px;
    color: green;
    background-color: aquamarine;
}

a:hover {
    background-color: black;
}
=======
#introduction h1 {
    font-size: 48px;
    margin-top: 160px;
    text-align: center;
}

#introduction p 
{
    font-size: 36px;
    margin-top: 320px;
    text-align: center;
}
>>>>>>> bd61fc080eb775c9c77366a63642a736c23b6cc3
