h1 {
    text-align: center;
    color: greenyellow;
    font-size: 48px;
}

.dislike {
    color: red;
}

p {
    font-size: 36px;
}

#sidebar {
    font-size: 18px;
}

h2 {
    font-size: 42px;
    margin-left: 25px;
}

* {
    background-color: aliceblue;
}

.tabletext {
    font-size: 28px;
}

.GreenLike {
    font-size: 36px;
    color: greenyellow;
}

.RedLike {
    font-size: 36px;
    color: red;
}